<div style="background-color:lightgrey">
<p style="color: green"><%= notice %></p>

<h1 class="text-center mt-4">Listing All Articles</h1>
<h3>
<%= link_to "Create New Article ", new_article_path %>
</h3>
<%= render  'article' %>

</div>
